<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head.ejs') %>
    <title>Weeknotes: <%- title %></title>
    <base href="<%- base %>">
</head>
<body>
    <div class="brand">
        <a href="https://robballou.com" rel="me">rob<span>ballou</span></a>
    </div>
    <header><h1><a href="/">Weeknotes</a></h1></header>
    <%- include('nav.ejs', { years }) %>
    <article>
        <h1><%- title %></h1>

        <p>
            <a href="/">Back to the index</a>
        </p>
    </article>
    <%- include('footer.ejs', { link }) %>
</body>
</html>
